<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/spotList">Spot List</a>
        <a href="/journal">Journal</a>
    </header>

    <h1>JOURNAL</h1>

    <form action="/journal/addSession" method="POST">
        Date: <input type="date" value="<%= currentDate %>" name="sessionDate">
        <!-- Spot: <input type="text" name="sessionSpot"> -->
        Spot: <select name="sessionSpot">
            <% spots.forEach(el => {%>
                <option value="<%=el.spot%>">
                    <%= el.spot %>
                </option>
            <% }) %> 

        </select>
        Rating: 
            <input type="radio" name="sessionRating" value="1" id="1">
            <label for="1">1</label>
            <input type="radio" name="sessionRating" value="2" id="2">
            <label for="2">2</label>
            <input type="radio" name="sessionRating" value="3" id="3">
            <label for="3">3</label>
            <input type="radio" name="sessionRating" value="4" id="4">
            <label for="4">4</label>
            <input type="radio" name="sessionRating" value="5" id="5">
            <label for="5">5</label>
        <input type="submit" value="Submit Session">
    </form>

    



    <script src="js/journal.js"></script>
</body>
</html>