<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/spotList">Spot List</a>
        <a href="/journal">Journal</a>
    </header>

    <h1>SPOTS</h1>

    <form action="/spotList/addSpot" method="POST">
        Spot: <input type="text" name="spotToAdd">
        <input type="submit" value="Add Spot">
    </form>

    <ul>
        <% spots.forEach(el => { 
            console.log(el) %>
            <li data-id="<%=el._id%>">
                <span><%= el.spot %></span>
                <span class='del'>Delete</span>
            </li>
        <% }) %>   
    </ul>


    <script src="js/spots.js"></script>
</body>
</html>