:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;

	color-scheme: light dark;
	color: rgb(255, 255, 255);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	border: solid 2px white;
	border-radius: 4px;
	padding: 10px;
	margin: 10px;
	color: #ffffff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
	background-color: rgb(221, 255, 0);
}

.aboutPageAddSessionBtn {
	width: 500px;
	text-align: center;
	display: inline;
	padding: 25px 100px 25px 100px;
}

.parentBtn {
	margin: 100px;
	text-align: center;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 4em;
	line-height: 1;
}

h2 {
	font-size: 3rem;
	line-height: 1;
}

h3 {
	font-size: 2rem;
	line-height: 1;
}

h4 {
	font-size: 1rem;
	line-height: 0.5;
}

p {
	font-size: 1.5em;
	text-align: left;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

#root {
	max-width: 1280px;
	margin: auto;
	padding: 1rem;
}

.dataGrid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

@media (min-width: 1100px) {
	.card {
		padding: 2rem;
		margin: 1rem;
		border: solid 4px white;
		border-radius: 4px;
		width: 40%;
	}
}

@media (max-width: 1100px) {
	.card {
		padding: 2rem;
		margin: 0.8rem;
		border: solid 4px white;
		border-radius: 4px;
		width: 100%;
	}
}

select {
	width: 24rem;
	position: relative;
	font-size: 1rem;
	height: 4rem;
	border-radius: 8px;
	padding: 1rem;
	margin: 0.5rem;
	cursor: pointer;
}

select-selected {
	background-color: purple;
}

select.hover {
	background-color: white;
}

option {
	font-size: 20rem;
}

.gridContainer {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	height: 14rem;
	row-gap: 1rem;
}

.gridItem {
	text-align: center;
}

.header {
	display: flex;
	justify-content: space-between;
	border-radius: 4px;
}

.homeHeader {
	display: flex;
}

.headerLinkMenu {
	display: flex;
	justify-content: center;
	align-items: center;
}

#map {
	height: 900px;
}

.leaflet-popup {
	background-color: transparent;
}

.leaflet-popup-content-wrapper {
	background-color: transparent;
}

.leaflet-popup-content {
	background-color: rgb(87, 104, 253);
	border: solid 4px white;
	color: white;
	padding: 15px;
	border-radius: 10px;
}

.ratingButton {
	cursor: pointer;
	margin: 2px;
}

.datepicker {
	width: 318px;
}

#sessionsContainer {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 1rem;
	border-top: solid 2px white;
	border-bottom: solid 2px white;
}

.sessionCard {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	border: solid 2px white;
	width: 28%;
	padding: 15px;
	margin: 15px;
	justify-content: space-between;
}

.sessionCardDetails {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: stretch;
}

.sessionCardRating {
	font-size: 3rem;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.sessionCardValue {
	border: solid 2px blue;
}

.sessionCardButtons {
	padding-top: 10px;
	display: flex;
	justify-content: space-around;
}

.sessionDetails {
	display: flex;
	flex-direction: column;
}

.buttonContainer {
	display: flex;
	padding: 1rem;
}

.sessionDetailsDate {
	font-size: 1.25rem;
	padding: 0 1rem;
}

.sessionDetailsSpot {
	padding: 1rem;
	font-size: 3rem;
	font-weight: bold;
}

.sessionDetailsRating {
	padding: 0.5rem 1rem;
	font-size: 2rem;
}

.highRating {
	color: rgb(0, 189, 0);
}

.mediumRating {
	color: rgb(255, 194, 82);
}

.lowRating {
	color: rgb(255, 79, 79);
}

.highRatingBorder {
	border-color: rgb(0, 189, 0);
}

.mediumRatingBorder {
	border-color: rgb(255, 194, 82);
}

.lowRatingBorder {
	border-color: rgb(255, 79, 79);
}

.sessionDetailsSwell {
	padding: 2rem 1rem;
	font-size: 2.5rem;
}

.recentSessionsTitle {
	text-align: center;
	padding-top: 50px;
}

.regionalForecastTitle {
	padding-bottom: 30px;
	border-bottom: solid 2px white;
	text-align: center;
}

.surfHeightConditionsContainer {
	width: 500px;
	display: flex;
	flex-direction: column;
}

.surfHeightDescriptor {
	font-size: 20px;
	font-weight: 600;
	margin: 10px 0px 0px 10px;
}

.surfInfoPane {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.surfHeightConditionsViewer {
	display: flex;
	flex-direction: row;
	width: 250px;
}

.surfRatingColor {
	height: 150px;
	width: 20px;
	margin: 20px 20px 20px 10px;
}

.surfHeightContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
}

.surfHeight {
	font-size: 60px;
	color: white;
}

.surfRating {
	font-size: 40px;
	padding: 10px 0px 10px 0px;
}

.surfRatingColorGood {
	background-color: orange;
}

.surfRatingColorFair {
	background-color: rgb(53, 249, 53);
}

.surfRatingColorPoor {
	background-color: rgb(68, 68, 249);
}

.buoyReadings {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	width: 300px;
	height: 150px;
	padding: 20px 10px;
}

.primaryBuoyReading {
	font-weight: 800;
}

.conditionsContainer {
	border: solid 2px white;
	display: flex;
	width: 800px;
	justify-content: left;
}

.currentWeatherContainer {
	display: flex;
	width: 500px;
	align-items: center;
}

.windContainer {
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.windArrow {
	width: 60px;
	height: 60px;
	font-size: 60px;
}

.windDescriptorDisplay {
	font-size: 20px;
}

.windSpeedDisplay {
	font-size: 24px;
	font-weight: 800;
}

.windGustDisplay {
	font-size: 14px;
}

.windRatingPoor {
	color: rgb(68, 68, 249);
}

.windRatingFair {
	color: rgb(53, 249, 53);
}

.windRatingGood {
	color: orange;
}
